.lines tr:nth-child(2n){
    background:#EEE;
}
.bold td{
    font-weight:bold;
}

/********** < Navigation */
.subnav_div {
    width:950px;
    height:32px;
}
.subnav_top {
    font-weight:bold;
}
.subnav_top>ul {
    font-size:12px;
}
.subnav_top span{
    color:#FFF !important;
}
#guidedsearch {  margin:0 auto; font-size:11px;}
.subnav_top {

}
.guidedsearch a{
    color:#fff;
    position: relative;
}

.level0, .level1, .level2 {
    text-transform: none;

}

#gs_div {
    position:absolute;
    z-index:255;
    top:164px;
    width:780px;
    background:#FFF;
    box-shadow: 0px 0px 10px #000;
    padding-top:10px;
    padding-bottom:10px;
}

#gs_div ul>li>ul {
    display:none;
}

#gs_div ,#gs_div .level0 {
    border:0px;
    margin:0px;
    padding:0px;
    border:0xp;
}
#gs_div li {
    border:0px;
}
#gs_div .level0 li {
    background:#FFF;
}

#gs_div a, #gs_div {
    color:#000;
}

#gs_div .level0 li {
    line-height:17px;
    float:left;
    text-align:left;
    width:230px;
    padding-left:10px;
    padding-right:10px;
}
#gs_div li.over0   {
    color:#630460 !important;
    background:#CCC !important;
}

.level1 {
    padding-top:10px !important;
    padding-bottom:10px !important;
}

#gs_div li.over1   {
    color:#000 !important;
    background:#FFF !important;
}

#gs_div .over0 a {
    color:#630460;
}

#gs_div .level1 {
    height: 300px;
    left:210px;
    position:absolute;
    z-index:256;
    width:220px;
    top:0px;
    background:#CCC;
    opacity: 0.95;
}

/* All Levels */ /* Style consistent throughout all nav levels */
#subnav li { position:relative; text-align:left;  line-height:33px;}
#subnav li.over { z-index:998; }
#subnav a,
#subnav a:hover { display:block; line-height:22px; text-decoration:none;}
#subnav span { display:block; cursor:pointer; white-space:nowrap; }
#subnav li ul span {white-space:normal; }
#subnav ul li.parent li a { background-image:none; }

/* 0 Level */
#subnav li { float:left; }
#subnav li.active a { color:#fff; }
#subnav a { float:left; padding:5px 12px 6px 8px; color:#FFF; font-weight:bold; }
#subnav li.over a,
#subnav a:hover { color:#fff; }

/* 1st Level */
#subnav ul li,
#subnav ul li.active { float:none; margin:0; padding-bottom:1px; }
#subnav ul li.last {  padding-bottom:0; }

#subnav ul a,
#subnav ul a:hover { float:none; padding:0; background:none; }
#subnav ul li a { font-weight:normal !important; }

/* 2nd Level */
#subnav ul,
#subnav div { position:absolute; width:15em; top:27px; left:-10000px;  }
#subnav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#subnav ul ul,
#subnav ul div { top:5px; }

#subnav ul li a {  }
#subnav ul li a:hover { background:#522583; }
#subnav ul li a,
#subnav ul li a:hover { color:#FFF !important; }
#subnav ul span,
#subnav ul li.last li span { padding:3px 15px 4px 15px; }

/* Show menu */
#subnav li ul.shown-sub,
#subnav li div.shown-sub { left:0; z-index:999; }
#subnav li .shown-sub ul.shown-sub,
#subnav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */
/* ======================================================================================= */

.product-list-search .product-image {
    max-width:200px;
}

.col_a_left .product-img-box {
    margin-left:20px;
}
.mr20 {
    margin-left:20px;
}

.subscribe_now>button {
    margin-top: 5px;
}
.subscribe_now>div {
    margin-top: 5px;
}

#zoom_out {
    float:left;
}
#zoom_in {
    float:left;
}
#track {
    float:left;
}
.col_a_left .zoom {
    height:30px;
    width:200px;
    margin-left:140px;
}

.crosssell-name {
    font-size:11px;
}
.crosssell-name a {
    text-decoration: none !important;
}

.crossell-buy {
    background:#5D2398;
    border:0px;
    color:#f4ff00;
    pading:3px;
    text-transform: uppercase;
    font-weight:bold;
    font-size:10px;
}
#crosssell-products-list .price  {
    font-size:11px !important;
}
#crosssell-products-list .item {
    float:left;
    width:150px;
    margin-right:10px;
    margin-bottom:20px;
}
#crosssell-products-list {
    margin:0px;
    padding:0px;
    list-style-position: outside;
}
.crosssell-image {
    border: 1px solid #BBBBBB;
    height: 110px;
    width: 110px;
    overflow:hidden;
}
/*************************Video block on home page*****************************/
#video-slider {
    width: 978px;
    height: 217px;
    margin: 10px auto;
    background: #b2a0cd;
    color: #FFFFFF;
    font-size: 10pt;
}
#channel-link {
    margin: 6px 6px 0px 6px;
    float: left;
}
#video-buttons {
    float: left;
}
.video-button {
    cursor: pointer;
    width: 228px;
    height: 41px;
    padding: 5px;
    margin: 3px;
    background-repeat: no-repeat;
    background-position: center center;
}
#video-buttons-title {
    color: #ffffff;
    margin: 10px 0px 0px 20px;
    text-transform: uppercase;
}
#video-button-1 {
    background: url(../images/video/button1.png);
}
#video-button-2 {
    background: url(../images/video/button2.png);
}
#video-button-3 {
    background: url(../images/video/button3.png);
}
.video-button-title {
    width: 170px;
    float: left;
    text-transform: uppercase;
}
.playing-icon {
    width: 27px;
    height: 27px;
    background: url(../images/video/playing.png) no-repeat center center;
    float: right;
    margin: 7px 20px 0px 0px;
}
#video-icon2 {
    display: none;
}
#video-icon3 {
    display: none;
}
.video-content {
    float: left;
    width: 560px;
}
.video-frame {
    float: left;
    width: 340px;
    margin: 14px 0px 0px 10px
}
.video-description {
    width: 185px;
    float: left;
    margin: 14px 0px 0px 20px;
    font-size: 8pt;
}
.video-description h4 {
    color: #FFFFFF;
    text-transform: uppercase;
}
#video-content-id-2 {
    display: none;
}
#video-content-id-3 {
    display: none;
}
/******************************************************************************/
.go-link {
    background: #ffffff;
    color: #00a4af !important;
    text-decoration: none; 
    font-weight: bold; 
    padding: 3px 40px 3px 15px; 
    position: absolute; 
    font-size: 14pt; 
    left: 351px;
    top: 70px;
}

.right-block-home-page {
    
    text-align: left;
}
.right-block-home-page-item {
    position: relative;
    width: 450px;
    height: 93px;
    color: #ffffff;
    margin-bottom: 6px;
    border: 1px solid black;
    padding: 20px 0px 0px 10px;
}
.right-block-home-page-item h4 {
    font-size: 14pt;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
}
.right-block-home-page-item span {
    font-size: 12pt;
}
.one-stop-shop-sub {
    background: #1363B2; color: #ffffff; font-size: 20pt; text-transform: uppercase; text-align: center; maring-top: 3px; padding: 10px;
    margin-bottom: 10px;
}
.one-stop-shop-block {
    position: relative; float: left; width: 250px; margin: 8px;
    margin-top: 20px;
}
.one-stop-shop-block p {
    margin-bottom: 0px;
}
.cartcatalogue-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 720px;
    height: 300px;
    padding: 40px;
    margin-left: -400px;
    margin-top: -150px;
    z-index: 1000;
    background: #F0F0F0; 
    border: 1px solid #AAAAAA;
}
.cartcatalogue-popup h3 {
    margin-bottom: 40px;
}
.cartcatalogue-item {    
}
.cartcatalogue-item .with-padding-top {
    padding-top: 20px;
}
.cartcatalogue-item table {
    width: 100%;
}
.cartcatalogue-item table td {
   text-align: center;
}
.cartcalogue-close {
    background: #878696;
    font-size: 14pt;
    float: right;
    padding: 5px 40px;
    cursor: pointer;
}
.cartcatalogue-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 160px;
    height: 50px;
    margin-left: -80px;
    margin-top: -25px;
    z-index: 1000;
}
/******************************************************************************/

.shipping-message-popup {
    position: absolute;
    width: 450px;
    padding: 30px 20px;
    margin-top: -120px;
    z-index: 1000;
    background: #F0F0F0; 
    border: 1px solid #AAAAAA;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */

}
.shipping-message-close {
    background: #878696;
    font-size: 14pt;
    float: right;
    padding: 5px 40px;
    cursor: pointer;
    margin-top: 15px;
}
.shipping-message-background {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
/******************************************************************************/
.button {
    cursor: pointer;
}

#livechat_button_container {
    display: table-cell!important;
}
#livechat_button_container .bcStatic {
    position: relative;
    top: -3px;
    left: 28px;
}
.livechat_link_separator {
    display: table-cell;
    text-align: center;
    width: 20px;
}