/**
 *
 * @category    design
 * @package     default_belart
 */

html  { margin:0 !important; padding:0 !important; }
body  { background-color:#fff !important;
        background-repeat: repeat-x;
        padding:0 !important; 
        margin:10px !important;
}

/*.page-print .data-table .cart-tax-total { background-position:100% -54px; }*/
/*.page-print .data-table .cart-tax-info { display:block !important; }*/


/* Order Print Pages */
.page-print .print-head { margin:0 0 15px; }
.page-print .print-head .logo { float:left; width: 750px; height: auto;}
.page-print .print-head address { float:left; margin-left:15px; }
.page-print h1 { font-size:16px; font-weight:bold; }
.page-print h2,
.page-print h3 { font-size:13px; font-weight:bold; }
.page-print h2.h2 { font-size:16px; font-weight:bold; }
.page-print .order-date { background:url(../images/bkg_divider1.gif) 0 100% repeat-x; padding:0 0 10px; margin:0 0 10px; }
.page-print .col2-set { margin:0 0 10px; }
/* Price Rewrites */
.page-print .gift-message-link { display:none; }
.page-print .price-excl-tax,
.page-print .price-incl-tax { display:block; white-space:nowrap; }
.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price { display:inline; }

/* Content Columns */
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }